/node_modules
/public/hot
/public/storage
/public/auto_score/answer_log
/public/auto_score/doc2vec/*
!/public/auto_score/doc2vec/page_sim.py
/public/auto_score/word2vec/*
!/public/auto_score/word2vec/page_sim.py
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
.idea/